$mainColor :#1F5CEC;
 $mainFontStyle :'Comic Sans MS', cursive, sans-serif;
 *{
    font-family:$mainFontStyle;
    box-sizing: border-box;
 }
 section{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     position: relative;
     top: 90px;
 }
header{
    display: flex;
    justify-content: center;
    color: $mainColor;
    font-size: 25px;
}
.focus-color{
    color: red;
}
#stack{
    border-width: 0px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    width:200px;
    display: flex;
    flex-direction: column;

}
.operations{
    cursor: pointer;
    color: $mainColor;
    font-size: 20px;
    padding: 0px 50px 0px 50px;
    margin-bottom: 10px;
    p{
        display: flex;
        justify-content: center;
        margin-top:20px;
    }
}
.push{
    cursor: pointer;
    color: $mainColor;
    padding: 50px;
    .lonely-p{
       
        p{
        display: flex;
        justify-content: center;
        }
    }
    
    
}
.lonely-item{
    background-color: #97F846;
    width:183px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.item1{
    background-color: yellow;
}
.item2{
    background-color: #97F846;
}
.item3{
    background-color: #0AF1F9;
}
.item4{
    background-color:#F92222;
}